// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  list-style: none;
}

.central-container {
  width: 600px;
  margin: 20px auto;
}

.article {
  margin: 16px 0;
}
